{% extends 'index.html' %}

{% block body %}

<div class="container-fluid bg-2 text-center">
  <h1 class ="margin"> <strong> MAKHLUK APA INI?</strong> </h1>
  <p>Ini adalah sebuah aplikasi web scraper<br/>
      Silakan Klik tombol Search dibawah ini untuk mencari data yang anda perlukan</p>

  <a href="/search" class="btn btn-default btn-lg">

    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>


<footer class="container-fluid bg-4 text-center">
  <p> Sumber pengambilan data diambil dari <a href="https://www.yell.com">www.yell.com</a></p>
</footer>

{% endblock %}